@import "bourbon/core/bourbon";
@import "bourbon-neat/app/assets/stylesheets/neat";

$large-screen: 53.75em !default;
$nico-red: rgba(238, 75, 81, 1);

@mixin beyonce() {
  background-image:
  linear-gradient(rgba(238, 75, 81, 0.7), rgba(238, 75, 81, 0.7)),
  url("./assets/images/bey.gif");
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #2b2b2b;
  font-family: "Source Sans Pro", sans-serif, $font-stack-system;

  .screen-wrapper {
    max-width: 68em;
    margin: 5em auto;
    padding: 0 0.5em;
  }

  .section-header {
    font-size: 0.7em;
    font-weight: 600;
    color: rgba(0,0,0,0.3);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.5em;
  }
}

h1 {
  font-weight: 600;
}

header.navigation {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $white: #fff !default;
  $large-screen: 53.75em !default;
  $navigation-padding: 1em;
  $navigation-background: #313131;
  $navigation-color: $white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;

  .navigation-wrapper {
    @include clearfix;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;

    img {
      max-height: $navigation-height;
      padding: 0.8em 0;
    }
  }


// Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }
  }


// Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;
    padding-left: 3em;

    @include media ($horizontal-bar-mode) {
      float: left;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }


// The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;
    
    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
      padding-right: 1.8em;
    }
    
    a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.9em;
      color: rgba(255, 255, 255, 0.8);
      letter-spacing: 2px;

      &:focus,
      &:hover {
        text-decoration: none;
        cursor: pointer;
      }

      &:hover:after {
        width: 100%;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 0%;
        border-bottom: 1px solid #fff;
        transition: 0.4s;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }
}

.hero {
  $large-screen: 50em !default;
  align-items: center;
  background-color: rgba(238, 75, 81, 1);
  background-repeat: no-repeat;
  background-position: right;
  background-size: none;
  display: flex;
  min-height: 25em;
  justify-content: flex-start;
  color: white;
  padding-left: 3em;
  padding-right: 3em;

  @include media($large-screen) {
    min-height: 85vh;
    padding-left: 0em;
    background-position: left;
    background-size: cover;
    background-image: none;
  }

  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  @include beyonce();

  .hero-content {
    max-width: 66em;
    margin: 0 auto;
    text-align: start;

    .hello {
      font-size: 5em;
      text-shadow: 0px 25px 25px rgba(0, 0, 0, 0.1);
      background-image: linear-gradient(to right, rgba(255,255,255,0.3) 40%, rgba(255, 255, 255, 0) 20%);
      background-position: 0 85px;
      background-size: 5px 2px;
      background-repeat: repeat-x;
      @include media($large-screen) {
        font-size: 10em;
        background-position: 0 165px;
      }
    }

    .who-am-i {
      @include media($large-screen) {
        padding-left: 2em;
        font-size: 2em;
      }
    }
  }

   .hero-logo {
    margin: auto;
  }
}

.hero.titus {
  @include media($large-screen) {
    @include beyonce();
  }
}

.flex-boxes {
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;
  $flex-box-border-color: $light-gray;
  $flex-box-border: 1px solid $flex-box-border-color;
  $flex-box-background: lighten($light-gray, 10%);
  $flex-box-width: 18em;
  $flex-box-color: transparentize($base-font-color, 0.3);
  $flex-box-top-colors:
    tomato,
    #72BFBF,
    #92B1E3,
    #E3D743,
    #CCC,
    #F6C05C;

  @include clearfix;
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 1em 0;

  .flex-box {
    align-self: stretch;
    background: $flex-box-background;
    border-radius: $base-border-radius;
    box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10%);
    display: block;
    flex: 2 2 15em;
    padding: 0 0 2em 0;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    @for $i from 1 to 7 {
      // assign colors from $flex-box-top-colors list
      &:nth-child(#{$i}) {
        $color-from-list: nth($flex-box-top-colors, $i);
        border-top: 6px solid $color-from-list;

        &:focus,
        &:hover {
          background-color: transparentize($color-from-list, 0.9);
        }
      }
    }

    img {
      display: block;
      width: 100%;
      margin: 0 auto 1em;
    }

    .flex-title {
      color: $flex-box-color;
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }

    p {
      color: transparentize($flex-box-color, 0.1);
      line-height: 1.5em;
      margin: auto;
    }
  }

  .flex-box-big {
    flex: 1 1 40em;
  }
}

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items-lines {
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: $base-background-color;
  $grid-item-border: 1px solid transparentize($base-font-color, 0.8);
  $grid-item-columns: 5;
  $grid-item-big-columns: 7;
  $grid-item-color: $base-font-color;
  $grid-item-height: 18em;

  @include clearfix;
  position: relative;

  .case-study {
    margin-bottom: 2em;

    &:focus,
    &:hover .case-study-title::after {
      width: 100%;
    }

    img {
      transition: all 0.3s ease;
    }
    &:focus,
    &:hover img {
      transform: scale(1.05, 1.05)
    }
  }

  .grid-item {
    cursor: pointer;
    float: left;
    outline: none;
    overflow: hidden;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 100%;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
      margin-bottom: 4em;
      height: $grid-item-height;
    }
  }

  .grid-item img {
      display: block;
      margin-bottom: 1.2em;
      width: 100%;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: 0.4em;
    }

  .grid-item p {
      color: transparentize($grid-item-color, 0.4);
      text-transform: capitalize;
      line-height: 1.5em;

      @include media($medium-screen) {
        max-width: 70%;
      }
    }

  .grid-item-big {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }

    .case-study-content {
      margin-bottom: 4em;
      @include media($large-screen) {
        margin-bottom: 0;
        padding-left: 3em;
      }
    }

    .case-study-title {
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      font-size: 1.5em;
      font-weight: 600;
      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0%;
        border-bottom: 2px solid #000;
        transition: 0.4s;
      }
    }

    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }
}

.footer {
  $base-spacing: 1.5em !default;
  $action-color: #313131 !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $footer-background: desaturate($action-color, 30%);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;

  .footer-logo {
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 3em;
    }
  }

  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $base-spacing;
  }

  ul {
    flex-basis: 13em;
    flex-shrink: 0;
    margin-bottom: $base-spacing * 2;
    padding: 0;
  }

  li {
    line-height: 1.5em;
    list-style: none;
    text-align: center;
  }

  li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    margin-bottom: 0.4em;
  }

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: $base-spacing auto $base-spacing;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}

.narrow-container {
  max-width: 50em;
  margin: 0 auto;
  padding: 0 0.5em;
}

.wide-container {
  max-width: 68em;
  margin: 0 auto;
  padding: 0 0.5em;
}

.margin-bottom-sm {
  margin-bottom: 3em;
}

.margin-top-zero {
  margin-top: 0;
}

.margin-top-sm {
  margin-top: 3em;
}

.margin-top-md {
  margin-top: 4em;
}

.margin-horizontal-xsm {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.padding-top-sm {
  padding-top: 3em;
}

.padding-bottom-sm {
  padding-bottom: 3em;
}

.padding-left-xsm {
  padding-left: 2em;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.width-5 {
  width: 5%;
}

.line-height-md {
  line-height: 1.5em;
}

.grey {
  color: rgba(51, 51, 51, 0.6);
}

.white-bg {
  background-color: white;
}

.porcelain-bg {
  background-color: #F4F6F7;
}

.font-lg {
  font-size: 5em;
}

.font-md {
  font-size: 1.5em;
}

.line-height-md {
  line-height: 1.6em
}

.border-bottom-red {
  border-bottom: solid rgba(238, 75, 81, 1) 5px;
}

.center {
  text-align: center;
}

.header-push {
  min-height: 60px;
}

.row {
  @include row();
}

.lg-span-column-6 {
  @include media($large-screen) {
    @include span-columns(6);
  }
}

.nostyle-link:link {
  text-decoration: inherit;
  color: inherit;
}

.nostyle-visited:visited {
  text-decoration: inherit;
  color: inherit;
}

.nico-red {
  color: $nico-red;
}

.next-button-container {
  display: flex;
  justify-content: center;
  .next-button {
    border: solid 2px black;
    border-radius: 2em;
    color: rgba(0,0,0,0.8);
    width: 80%;
    height: 3em;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s ease;
    letter-spacing: 2px;

    @include media($large-screen) {
      width: 40%;
    }

    &:focus {
      outline: 0;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(0,0,0,0.1);
    }
  }
}

.about-me {
  @include media($large-screen) {
    display: flex;
    justify-content: center;
  }
  
  .about-me-text {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    p:last-child {
      margin-bottom: 0;
    }
  }
  
  .about-me-img-container {
    position: relative;
    width: 100%;
  
    img {
      height: 100%;
      width: 100%;
    }
  }
}
